npetanjek_projekt/npetanjek_aplikacija_2_2/web/WEB-INF/wsdl/localhost_8084/npetanjek_aplikacija_1/AvioniWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.ws.npetanjek.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.ws.npetanjek.nwtis.foi.org/" name="AvioniWS">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.npetanjek.nwtis.foi.org/" schemaLocation="http://localhost:8084/npetanjek_aplikacija_1/AvioniWS?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.dkermek.nwtis.foi.org/" schemaLocation="http://localhost:8084/npetanjek_aplikacija_1/AvioniWS?xsd=2"/>
</xsd:schema>
</types>
<message name="dajAerodromeUnutarGranice">
<part name="parameters" element="tns:dajAerodromeUnutarGranice"/>
</message>
<message name="dajAerodromeUnutarGraniceResponse">
<part name="parameters" element="tns:dajAerodromeUnutarGraniceResponse"/>
</message>
<message name="dajZadnjePreuzetePodatkeoAvionima">
<part name="parameters" element="tns:dajZadnjePreuzetePodatkeoAvionima"/>
</message>
<message name="dajZadnjePreuzetePodatkeoAvionimaResponse">
<part name="parameters" element="tns:dajZadnjePreuzetePodatkeoAvionimaResponse"/>
</message>
<message name="dajUdaljenostIzmeduAerodroma">
<part name="parameters" element="tns:dajUdaljenostIzmeduAerodroma"/>
</message>
<message name="dajUdaljenostIzmeduAerodromaResponse">
<part name="parameters" element="tns:dajUdaljenostIzmeduAerodromaResponse"/>
</message>
<message name="dajAvionesAerodroma">
<part name="parameters" element="tns:dajAvionesAerodroma"/>
</message>
<message name="dajAvionesAerodromaResponse">
<part name="parameters" element="tns:dajAvionesAerodromaResponse"/>
</message>
<message name="dajAvionKrozAerodrome">
<part name="parameters" element="tns:dajAvionKrozAerodrome"/>
</message>
<message name="dajAvionKrozAerodromeResponse">
<part name="parameters" element="tns:dajAvionKrozAerodromeResponse"/>
</message>
<message name="dajProlazakKrozAerodrome">
<part name="parameters" element="tns:dajProlazakKrozAerodrome"/>
</message>
<message name="dajProlazakKrozAerodromeResponse">
<part name="parameters" element="tns:dajProlazakKrozAerodromeResponse"/>
</message>
<message name="dajPodatkeoKorisnicima">
<part name="parameters" element="tns:dajPodatkeoKorisnicima"/>
</message>
<message name="dajPodatkeoKorisnicimaResponse">
<part name="parameters" element="tns:dajPodatkeoKorisnicimaResponse"/>
</message>
<message name="azurirajKorisnika">
<part name="parameters" element="tns:azurirajKorisnika"/>
</message>
<message name="azurirajKorisnikaResponse">
<part name="parameters" element="tns:azurirajKorisnikaResponse"/>
</message>
<message name="dajPosljednjihnPodatakaoAvionima">
<part name="parameters" element="tns:dajPosljednjihnPodatakaoAvionima"/>
</message>
<message name="dajPosljednjihnPodatakaoAvionimaResponse">
<part name="parameters" element="tns:dajPosljednjihnPodatakaoAvionimaResponse"/>
</message>
<message name="dajMeteoPodatke">
<part name="parameters" element="tns:dajMeteoPodatke"/>
</message>
<message name="dajMeteoPodatkeResponse">
<part name="parameters" element="tns:dajMeteoPodatkeResponse"/>
</message>
<message name="dodajKorisnika">
<part name="parameters" element="tns:dodajKorisnika"/>
</message>
<message name="dodajKorisnikaResponse">
<part name="parameters" element="tns:dodajKorisnikaResponse"/>
</message>
<portType name="AvioniWS">
<operation name="dajAerodromeUnutarGranice">
<input wsam:Action="http://serveri.ws.npetanjek.nwtis.foi.org/AvioniWS/dajAerodromeUnutarGraniceRequest" message="tns:dajAerodromeUnutarGranice"/>
<output wsam:Action="http://serveri.ws.npetanjek.nwtis.foi.org/AvioniWS/dajAerodromeUnutarGraniceResponse" message="tns:dajAerodromeUnutarGraniceResponse"/>
</operation>
<operation name="dajZadnjePreuzetePodatkeoAvionima">
<input wsam:Action="http://serveri.ws.npetanjek.nwtis.foi.org/AvioniWS/dajZadnjePreuzetePodatkeoAvionimaRequest" message="tns:dajZadnjePreuzetePodatkeoAvionima"/>
<output wsam:Action="http://serveri.ws.npetanjek.nwtis.foi.org/AvioniWS/dajZadnjePreuzetePodatkeoAvionimaResponse" message="tns:dajZadnjePreuzetePodatkeoAvionimaResponse"/>
</operation>
<operation name="dajUdaljenostIzmeduAerodroma">
<input wsam:Action="http://serveri.ws.npetanjek.nwtis.foi.org/AvioniWS/dajUdaljenostIzmeduAerodromaRequest" message="tns:dajUdaljenostIzmeduAerodroma"/>
<output wsam:Action="http://serveri.ws.npetanjek.nwtis.foi.org/AvioniWS/dajUdaljenostIzmeduAerodromaResponse" message="tns:dajUdaljenostIzmeduAerodromaResponse"/>
</operation>
<operation name="dajAvionesAerodroma">
<input wsam:Action="http://serveri.ws.npetanjek.nwtis.foi.org/AvioniWS/dajAvionesAerodromaRequest" message="tns:dajAvionesAerodroma"/>
<output wsam:Action="http://serveri.ws.npetanjek.nwtis.foi.org/AvioniWS/dajAvionesAerodromaResponse" message="tns:dajAvionesAerodromaResponse"/>
</operation>
<operation name="dajAvionKrozAerodrome">
<input wsam:Action="http://serveri.ws.npetanjek.nwtis.foi.org/AvioniWS/dajAvionKrozAerodromeRequest" message="tns:dajAvionKrozAerodrome"/>
<output wsam:Action="http://serveri.ws.npetanjek.nwtis.foi.org/AvioniWS/dajAvionKrozAerodromeResponse" message="tns:dajAvionKrozAerodromeResponse"/>
</operation>
<operation name="dajProlazakKrozAerodrome">
<input wsam:Action="http://serveri.ws.npetanjek.nwtis.foi.org/AvioniWS/dajProlazakKrozAerodromeRequest" message="tns:dajProlazakKrozAerodrome"/>
<output wsam:Action="http://serveri.ws.npetanjek.nwtis.foi.org/AvioniWS/dajProlazakKrozAerodromeResponse" message="tns:dajProlazakKrozAerodromeResponse"/>
</operation>
<operation name="dajPodatkeoKorisnicima">
<input wsam:Action="http://serveri.ws.npetanjek.nwtis.foi.org/AvioniWS/dajPodatkeoKorisnicimaRequest" message="tns:dajPodatkeoKorisnicima"/>
<output wsam:Action="http://serveri.ws.npetanjek.nwtis.foi.org/AvioniWS/dajPodatkeoKorisnicimaResponse" message="tns:dajPodatkeoKorisnicimaResponse"/>
</operation>
<operation name="azurirajKorisnika">
<input wsam:Action="http://serveri.ws.npetanjek.nwtis.foi.org/AvioniWS/azurirajKorisnikaRequest" message="tns:azurirajKorisnika"/>
<output wsam:Action="http://serveri.ws.npetanjek.nwtis.foi.org/AvioniWS/azurirajKorisnikaResponse" message="tns:azurirajKorisnikaResponse"/>
</operation>
<operation name="dajPosljednjihnPodatakaoAvionima">
<input wsam:Action="http://serveri.ws.npetanjek.nwtis.foi.org/AvioniWS/dajPosljednjihnPodatakaoAvionimaRequest" message="tns:dajPosljednjihnPodatakaoAvionima"/>
<output wsam:Action="http://serveri.ws.npetanjek.nwtis.foi.org/AvioniWS/dajPosljednjihnPodatakaoAvionimaResponse" message="tns:dajPosljednjihnPodatakaoAvionimaResponse"/>
</operation>
<operation name="dajMeteoPodatke">
<input wsam:Action="http://serveri.ws.npetanjek.nwtis.foi.org/AvioniWS/dajMeteoPodatkeRequest" message="tns:dajMeteoPodatke"/>
<output wsam:Action="http://serveri.ws.npetanjek.nwtis.foi.org/AvioniWS/dajMeteoPodatkeResponse" message="tns:dajMeteoPodatkeResponse"/>
</operation>
<operation name="dodajKorisnika">
<input wsam:Action="http://serveri.ws.npetanjek.nwtis.foi.org/AvioniWS/dodajKorisnikaRequest" message="tns:dodajKorisnika"/>
<output wsam:Action="http://serveri.ws.npetanjek.nwtis.foi.org/AvioniWS/dodajKorisnikaResponse" message="tns:dodajKorisnikaResponse"/>
</operation>
</portType>
<binding name="AvioniWSPortBinding" type="tns:AvioniWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="dajAerodromeUnutarGranice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajZadnjePreuzetePodatkeoAvionima">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajUdaljenostIzmeduAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAvionesAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAvionKrozAerodrome">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajProlazakKrozAerodrome">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajPodatkeoKorisnicima">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="azurirajKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajPosljednjihnPodatakaoAvionima">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajMeteoPodatke">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dodajKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AvioniWS">
<port name="AvioniWSPort" binding="tns:AvioniWSPortBinding">
<soap:address location="http://localhost:8084/npetanjek_aplikacija_1/AvioniWS"/>
</port>
</service>
</definitions>